<% posts.each do |post| %>
  <div class="card mb-1">
    <div class="card-body">
      <p class="card-text"><%= post.title %></p>
      <p class="card-text"><small><%= simple_fomat post.genre_name %></small></p>
    </div>
  </div>
<% end %>