<div class="container">
  <div class="row">
    <div class="col">
      <div class="post">
        <div class="post-title">
          <h5>料理詳細</h5>
            <div class="post-title">
              <p>タイトル</p>
              <p><%= @post.title %></p>
            </div>
              <div class="post-genre">
                <p>ジャンル</p>
                <p><%= @post.genre </p>
              </div>
              
           
        </div>
      </div>
    </div>
  </div>
</div>