<div class="container">
  <div class="row">
    <div class="col">
      <div class="application-title">
        <h1>FavoriteFood</h1>
        <p>あなたのお気に入りの料理を発信してみませんか？</p>
      </div>
    </div>
  </div>
</div>