<div class="container">
  <div class="row">
    <div class="col">
      <div class="application-title text-center">
        <h1>FavoriteFood</h1>
        <p>あなたのお気に入りの料理を発信してみませんか？</p>
        <div class="favorite-food-img d-flex justify-content-center flex-wrap" style="vertical-align: right; line-height: 1.0em;">
          <%= image_tag 'cooking.jpeg' ,style: "width:500px"%><%= image_tag 'cooking2.jpeg',style: "width:500px" %>
          <%= image_tag 'cooking3.jpeg',style: "width:500px" %><%= image_tag 'cooking4.jpeg',style: "width:500px" %>
        </div>
      </div>
    </div>
  </div>
</div>