<div class="container">
  <div class="row">
    <div class="col">
      <div class="profile">



        <% if @profile == nil %>
          <h1>まずはプロフィールを登録しよう</h1>
        <% else %>
          <div class="mypage-title">
            <h1>プロフィール</h1>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>