<div class="container">
  <div class="row">
    <div class="col">
      <div class="comment-all text-center">
        <p>いいね件数:<span class="text-success"><%= @post.likes.count %></span></hp>
        <% if @user.already_liked?(@post) %>
          <div class="like-delete mb-2">
            <%= link_to  public_user_post_like_path(@user.id,post_id: @post.id, id: @post.likes[0].id),class: "liked text-dark", method: :delete, remote: true do %>
              いいねを取り消す♡
            <% end %>
          </div>
        <% else %>
        <div class="like-create mb-2">
          <%= link_to  public_user_post_likes_path(@user.id,@post.id), method: :post,class: "text-dark", remote: true do %>
            いいねする❤
          <% end %>
        </div>
        <% end %>
        <div class="flex-path">
          <%= link_to "いいねしたユーザー", public_user_post_likes_path(@user.id,@post.id), class: "btn btn-success"%>
        </div>
      </div>
    </div>
  </div>
</div>


